@import '../variables/color';

.controls{
    display: inline-grid;
    width: 100%;
    grid-template-columns: 40% 40%;
    border-bottom: 1px solid black;
    padding: 15px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "buttons total"
}

.total__summary{
    grid-area:  total;
    justify-self: end;
    font-size: 26px;
}

div.buttons {
    grid-area: buttons;
    align-self: center;
}

a#cancel__payment{
    color: $delete;
    text-align: center;
    padding: 15px;
    margin-right: 15px;
    font-size: 26px;
    text-decoration: none;
    border: 2px solid $delete;
    &:hover{
        background: $delete;
        color: white;
    }
}

a#approve__payment{
    color: $pay;
    text-align: center;
    font-size: 26px;
    padding: 15px 35px;
    text-decoration: none;
    border: 2px solid $pay;
    &:hover{
        background: $pay;
        color: white;
    }
}

.item__cards{
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 20% 20% 20%;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

.item__card{
    width: 100%;
    text-align: center;
    border: 2px solid black;
    height: 120px;
}

.item__card--ingredient{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
}


.delete__item--btn{
    color: #111;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    &:hover{
        color: $delete;
    }

}

