@import './../variables/color';
// INVENTORY TABS AND TAB CONTENT
.inventory__container{
    background: $background;
    height: 60vh;
}



//CONTENT
.inventory__tab { 
    display: none;
    color: black;
    // align-items: center;

}

.inventory__tab.active { 
    display: flex; 
    justify-content: space-evenly;

}



// ITEMS
.inventory__item{
    height: 150px;
    width: 150px;
    text-align: center;
    border-radius: 10%;
    background-color: $white;
    margin: 10px;
    &:hover{
        background: $blue;
        color: white;
        transition: .2s;
        cursor: pointer;
    }
}

.inventory__h4{
    font-size: 16px;
    padding-top: 5px;
}

.inventory__price{
    font-size: 12px;
}


