@import './../variables/color';
// INVENTORY TABS AND TAB CONTENT
.inventory__container{
    background: $background;
    height: 50vh;
}

.inventory__tab { 
    display: none;
    color: black;
}

.inventory__tab.active { 
    display: flex; 
    justify-content: space-evenly;
}

.inventory__tabs.container {
    margin-top: 40px;
}

.inventory__item{
    width: 200px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    background-color: $white;
    border: 2px solid $blue;
    &:hover{
        background: $blue;
        color: white;
        transition: .2s;
        cursor: pointer;
    }
}

.inventory__h4{
    font-size: 32px;
    padding-top: 5px;
}

.inventory__price{
    font-size: 32px;
}


